@model Hospital.Models.ViewModels.PatientRegistrationViewModel

@{
    ViewBag.Title = "Regisztráció";
}


<div class="card mx-auto" style="width: 30vw">
<div class="card-body">
	<h5 class="card-title">Regisztráció</h5>
	<form asp-action="Register" asp-controller="Patients">
		<div class="failureNotification">@Html.ValidationSummary(true, "A regisztráció sikertelen.")</div>

		<div class="form-group">
			@Html.LabelFor(vm => vm.Name)
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name"></span>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(vm => vm.Address)
			<input asp-for="Address" class="form-control"/>
			<span asp-validation-for="Address"></span>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(vm => vm.PhoneNumber)
			<input asp-for="PhoneNumber" class="form-control"/>
			<span asp-validation-for="PhoneNumber"></span>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(vm => vm.UserName)
			<input asp-for="UserName" class="form-control"/>
			<span asp-validation-for="UserName"></span>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(vm => vm.Password)
			<input asp-for="Password" class="form-control"/>
			<span asp-validation-for="Password"></span>
		</div>
		<div class="form-group">
			@Html.LabelFor(vm => vm.ConfirmPassword)
			<input asp-for="ConfirmPassword" class="form-control"/>
			<span asp-validation-for="ConfirmPassword"></span>
		</div>
		
		<input type="submit" value="Regisztráció" class="btn btn-primary"/>
	</form>
</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial"/>
}